@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.root {
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #333333;
    padding: 1rem;
}

.resizer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.term_container {
    width: 100%;
    height: 100%;
}
